{"swagger":"2.0","info":{"version":"1.0.0","title":"Kangaroo Customer Api","license":{"name":"MIT"}},"host":"com.kangaroo.com","basePath":"/v1","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/users/me/messages/{recallId}/?intent=recall_giftcard?relationships=sender,receiver,gift_card_queue,offer":{"patch":{"tags":["transferRecall"],"summary":"Recall a transfer. This could be a points transfer,\ne-wallet transfer, or a gift card\n","operationId":"recallTransfer","parameters":[{"name":"recallId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Transfer recall data","schema":{"$ref":"#/definitions/TransferRecallResultModel"}}}}}},"definitions":{"TransferRecallResultModel":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/definitions/TransferMessage"}},"description":"Contains the result of a recalled transfer.","x-model":"TransferRecallResultModel"},"TransferMessage":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","format":"int64","description":"The unique ID of this transfer."},"type_id":{"type":"integer","format":"int64","description":"The type ID of this transfer."},"type":{"type":"string","description":"A string representation of this transfer type."},"description":{"type":"string","description":"The description of this transfer."},"points":{"type":"integer","format":"int64","description":"The amount of points sent in this transfer."},"amount":{"type":"number","format":"double","description":"The amount in $ sent in this transfer."},"hidden":{"type":"boolean"},"created_at":{"type":"string","description":"The orignal send date of this transfer."},"offer":{"description":"The gift card in this transfer if applicable. Gift cards\nare an offer sub-type in Kangaroo.\n","$ref":"#/definitions/Offer"},"gift_card_queue":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The unique ID of this gift_card_queue"},"enabled":{"type":"boolean","description":"Whether this item is enabled. Usually true."},"sender_name":{"type":"string","description":"The name of the sender of this transfer."},"recipient_name":{"type":"string","description":"The name of the recipient of this transfer."},"email_phone":{"type":"string","description":"The phone number or email address that this transfer\nwas sent to.\n"},"points":{"type":"integer","format":"int64","description":"The amount of points sent in this transfer."},"amount":{"type":"number","format":"double","description":"The amount in $ sent in this transfer."},"created_at":{"type":"string","description":"The orignal creation date of this transfer."},"scheduled_at":{"type":"string","description":"The original scheduled delivery date of this transfer."}}},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"The action type."}}}}},"description":"Transfer Message. These are sent to the user by\nother users. They can be points or e-wallet transfers or\ngift cards (which is deposited into the users' e-wallet)\n"},"Offer":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"A unique ID identifying this reward"},"points":{"type":"integer","format":"int64","description":"The amount of points required for this offer to be\napplied. Only used for Convertible Coupons\n"},"publish_at":{"type":"string","description":"The publication date of this offer."},"expires_at":{"type":"string","description":"The expiration date of this offer."},"is_published":{"type":"boolean","description":"Whether this offer is currently published or not."},"coupon_convertible":{"type":"boolean","description":"Whether this is a convertible coupon. Convertible coupons are\nautomatically added to the customers account when the point threshold\nis met. The points are automatically deducted from the users' account.\n"},"real_value":{"type":"number","format":"double","description":"The real value  (in $) of this offer"},"discount_value":{"type":"number","format":"double","description":"The discount value (in $) of this offer"},"multip_factor":{"type":"number","format":"double","description":"The multiplication factor of this offer. This only applies to\nPoint Multiplier offers.\n"},"min_purchase":{"type":"number","format":"double","description":"The minimum purchase amount for this offer to be applied"},"max_purchase":{"type":"number","format":"double","description":"The maximum purchase amount for this offer to be applied."},"apps_only":{"type":"boolean","description":"Whether this offer must be claimed on a mobile app\nbefore being used in store.\n"},"offer_frequency_id":{"type":"integer"},"freq_details":{"type":"array","items":{"type":"string"}},"peak_from":{"type":"string"},"peak_to":{"type":"string"},"type":{"type":"string","description":"The offer type. This can be a free product, dollar based discount,\npercentage based discount, point multiplier, bonus points, and free shipping.\n"},"title":{"type":"string","description":"The offer title."},"description":{"type":"string","description":"The offer description."},"slug":{"type":"string","description":"The unique slug for this offer"},"images":{"type":"array","description":"The images attached to this offer. There are 3 available\nsizes: thumbnail, medium, and large.\n","items":{"$ref":"#/definitions/image"}},"never_expires_flag":{"type":"boolean","description":"Whether this offer ever expires or not.\nIf false, this offer is available indefinitely (provided any other\nrequirements are met)\n"},"terms_conditions":{"type":"string","description":"The terms and conditions attached to this offer."},"link":{"type":"string","description":"The external link attached to this offer."},"offer_languages":{"type":"array","description":"A list of translations of this offer into different languages.","items":{"$ref":"#/definitions/OfferTranslation"}},"actions":{"type":"array","description":"A list of possible actions to perform on this offer.","items":{"$ref":"#/definitions/OfferAction"}}},"x-model":"OfferModel"},"image":{"type":"object","properties":{"large":{"type":"string"},"medium":{"type":"string"},"thumbnail":{"type":"string"},"default":{"type":"boolean"}}},"OfferTranslation":{"type":"object","required":["id"],"properties":{"id":{"type":"integer"},"language_id":{"type":"integer","description":"The ID of this specific translation"},"offer_title":{"type":"string","description":"The translated offer title."},"offer_description":{"type":"string","description":"The translated offer description."},"offer_terms_conditions":{"type":"string","description":"The translated offer terms and conditions."},"offer_link":{"type":"string","description":"The language appropriate link of this offer."},"language":{"description":"The language for which this translation applies.","$ref":"#/definitions/language"}},"description":"A language translation of this offer."},"language":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"The Kangaroo ID of this language."},"abbreviation":{"type":"string","description":"A two letter abbreviation of this language.\nFollows ISO standards (en, fr, es)\n"},"name":{"type":"string","description":"The full name of this language (English, French, Spanish)"}}},"OfferAction":{"type":"object","properties":{"type":{"type":"string"}}}}}