{"swagger":"2.0","info":{"version":"1.0.0","title":"Kangaroo Customer Api","license":{"name":"MIT"}},"host":"com.kangaroo.com","basePath":"/v1","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/users/credentials/verification":{"post":{"tags":["userAccountVerification"],"summary":"Verify a user's account\n","operationId":"verifyAccount","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"email","in":"formData","required":false,"type":"string"},{"name":"phone","in":"formData","required":false,"type":"string"},{"name":"country_code","in":"formData","required":false,"type":"string"},{"name":"intent","in":"formData","required":true,"type":"string"},{"name":"token","in":"formData","required":true,"type":"string"}],"responses":{"200":{"description":"User verification request.\n","schema":{"$ref":"#/definitions/UserProfile"}}}}}},"definitions":{"UserProfile":{"type":"object","properties":{"data":{"description":"Contains all user profile data","$ref":"#/definitions/UserProfileData"},"included":{"description":"Contains user balance data","$ref":"#/definitions/UserProfileInclude"}},"description":"User Profile model class containing user data","x-model":"UserProfileModel"},"UserProfileData":{"type":"object","properties":{"id":{"type":"string","description":"Unique user ID."},"email":{"type":"string","description":"Email address identifying this user."},"phone":{"type":"string","description":"Phone number associated with this user."},"first_name":{"type":"string","description":"First name associated with this user."},"last_name":{"type":"string","description":"Last name associated with this user."},"qrcode":{"type":"string","description":"Unique QR code identifying this user."},"gender":{"type":"string","description":"Gender associated with this user."},"birth_date":{"type":"string","description":"Date of birth associated with this user."},"language":{"type":"string","description":"Primary language assocaited with this user."},"country_code":{"type":"string","description":"Country code associated with this user."},"profile_photo":{"type":"string","description":"Profile photo url associated with this user."},"created_at":{"type":"string","description":"Date the account for this user was created."},"updated_at":{"type":"string","description":"Date the account for this user was last updated."},"enabled":{"type":"boolean","description":"Denotes whether this account has been enabled."},"email_verified":{"type":"boolean","description":"Denotes whether the email address for this user has been verified."},"phone_verified":{"type":"boolean","description":"Denotes whether the phone number for this user has been verified."}},"description":"User Profile model class containing user data","x-model":"UserProfileDataModel"},"UserProfileInclude":{"type":"object","properties":{"balance":{"description":"User Profile balance data.","$ref":"#/definitions/UserBalance"},"tier_level":{"description":"User's tier status.\n","$ref":"#/definitions/TierLevel"},"tier_progress":{"description":"User's tier progress and status. If a user's tier status is\nstatically fixed, this will be null as they do not progress from\ntier to tier.\n","$ref":"#/definitions/TierProgress"},"referral_programs":{"type":"array","description":"A list of referral programs the user has access to.","items":{"$ref":"#/definitions/ReferralProgram"}}},"description":"Extra user profile data"},"UserBalance":{"type":"object","properties":{"points":{"type":"integer","format":"int64","description":"The number of points this user currently has."},"giftcard":{"type":"number","format":"double","description":"The amount of store credit in the users' e-wallet."}},"description":"User Profile balance data."},"TierLevel":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The ID for this tier."},"name":{"type":"string","description":"The name of this tier level."},"reach_spend":{"type":"number","format":"float","description":"The amount of money spent required to reach this tier."},"reach_visits":{"type":"integer","format":"int64","description":"The amount of visits made to reach this tier."},"reach_points":{"type":"integer","format":"int64","description":"The amount of points acquired that is required to reach this tier."},"icon":{"type":"string","description":"The icon of this tier level."},"tier_perks":{"type":"array","description":"The perks related to this tier level.","items":{"$ref":"#/definitions/TierPerk"}},"languages":{"type":"array","description":"translation for each tier level.","items":{"$ref":"#/definitions/TierLevelTranslation"}}},"description":"Represents a single tier level."},"TierPerk":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The ID for this tier perk."},"title":{"type":"string","description":"The title of this tier perk."},"tier_id":{"type":"integer","format":"int64","description":"The ID for the tier level this tier perk is related to."},"offer_id":{"type":"integer","format":"int64"},"punch_item_id":{"type":"integer","format":"int64"},"enabled":{"type":"boolean","description":"Whether this tier perk is currently enabled or disabled."},"is_expired":{"type":"boolean","description":"Whether the offer this tier perk is currently attached to is expired or not."},"languages":{"type":"array","description":"The perks related to this tier level.","items":{"$ref":"#/definitions/TierPerkTranslation"}}},"description":"Represents a single tier perk for a tier level."},"TierPerkTranslation":{"type":"object","properties":{"language_id":{"type":"integer","format":"int64","description":"The ID of teh language."},"title":{"type":"string","description":"The name of this tier level as translated."},"language":{"description":"The language for which this translation applies.","$ref":"#/definitions/language"}}},"language":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"The Kangaroo ID of this language."},"abbreviation":{"type":"string","description":"A two letter abbreviation of this language.\nFollows ISO standards (en, fr, es)\n"},"name":{"type":"string","description":"The full name of this language (English, French, Spanish)"}}},"TierLevelTranslation":{"type":"object","properties":{"language_id":{"type":"integer","format":"int64","description":"The ID of teh language."},"name":{"type":"string","description":"The name of this tier level as translated."},"description":{"type":"string","description":"The description of this tier level as translated."},"language":{"description":"The language for which this translation applies.","$ref":"#/definitions/language"}}},"TierProgress":{"type":"object","properties":{"start_date":{"type":"string","description":"The start date for this tier session."},"end_date":{"type":"string","description":"The end date for this tier session.\nThe tier will be reset once this date is reached.\n"},"tier_level":{"type":"string","description":"The name of the user's current tier level\n"},"tier_level_live":{"type":"string","description":"The name of the user's current tier level.\nTiers are recalculated once per day, as such \"tier_level\" may\nnot be completely up to date.\n"},"next_tier_level":{"type":"string","description":"The name of the user's next tier level.\n"},"tier_progress":{"type":"number","format":"float","description":"The users current tier progress in their \"tier_level\".\nThis will be a number between 0 and 1. A tier progress of 0.5\nmeans that the user has made 50% progress in their current tier.\n"},"left_points":{"type":"integer","format":"int64","description":"The amount of points left in the user's current tier progress.\nOnce they have acquired this many more amount of points, they\nwill be moved into the next tier.\n"},"left_amount":{"type":"number","format":"float","description":"The amount of spend left in the user's current tier progress.\nOnce they have acquired this many more amount of spend, they\nwill be moved into the next tier.\n"},"left_visits":{"type":"integer","format":"int64","description":"The amount of visits left in the user's current tier progress.\nOnce they have acquired this many more amount of visits, they\nwill be moved into the next tier.\n"},"total_points":{"type":"integer","format":"int64","description":"Purchase points between start_date and end_date.\n"},"total_amount":{"type":"number","format":"float","description":"Purchase amount between start_date and end_date.\n"},"total_visits":{"type":"integer","format":"int64","description":"Purchase visits between start_date and end_date.\n"}},"description":"Represents a users' tier progress within their current tier.\nThis also includes other useful information about the tier such as start\nand end dates, as well as the next tier the user will reach.\n"},"ReferralProgram":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The unique id of this referral program."},"rule_name":{"type":"string"},"cond_min_amount":{"type":"number","format":"double","description":"The minimum purchawe amount required for a succesful referral."},"referee_earns":{"type":"integer","format":"int64","description":"The number of points the new customer will earn."},"referer_earns":{"type":"integer","format":"int64","description":"The number of points the new customer who made the referral will earn."},"expires_in":{"type":"integer","format":"int64","description":"The number of days the new customer has to sign up in\norder for a referral to be sucessful.\n"},"enabled":{"type":"boolean","description":"Denotes whether this referral program is currently active."},"link_referral_enabled":{"type":"boolean","description":"Denotes whether this referral program has enabled share links.\nReferral share links are links that the customer can send to prospective\nreferrals. A User can sign up to the business through this link in order to\ncomplete the referral.\n"},"referral_link":{"type":"string","description":"A link that can be shared to prospective referrals."}},"description":"A referral program"}}}