{"swagger":"2.0","info":{"version":"1.0.0","title":"Kangaroo Customer Api","license":{"name":"MIT"}},"host":"com.kangaroo.com","basePath":"/v1","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/users/credentials/verification":{"post":{"tags":["userAccountVerification"],"summary":"Verify a user's account\n","operationId":"verifyAccount","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"email","in":"formData","required":false,"type":"string"},{"name":"phone","in":"formData","required":false,"type":"string"},{"name":"country_code","in":"formData","required":false,"type":"string"},{"name":"token","in":"formData","required":true,"type":"string"}],"responses":{"200":{"description":"User verification request.\n","schema":{"$ref":"#/definitions/UserVerificationResponse"}}}}}},"definitions":{"UserVerificationResponse":{"type":"object","properties":{"data":{"description":"Contains all user profile data","$ref":"#/definitions/UserProfileData"}},"description":"User Profile model class containing user data","x-model":"UserVerificationResponseModel"},"UserProfileData":{"type":"object","properties":{"id":{"type":"string","description":"Unique user ID."},"email":{"type":"string","description":"Email address identifying this user."},"phone":{"type":"string","description":"Phone number associated with this user."},"first_name":{"type":"string","description":"First name associated with this user."},"last_name":{"type":"string","description":"Last name associated with this user."},"qrcode":{"type":"string","description":"Unique QR code identifying this user."},"gender":{"type":"string","description":"Gender associated with this user."},"birth_date":{"type":"string","description":"Date of birth associated with this user."},"language":{"type":"string","description":"Primary language assocaited with this user."},"country_code":{"type":"string","description":"Country code associated with this user."},"profile_photo":{"type":"string","description":"Profile photo url associated with this user."},"created_at":{"type":"string","description":"Date the account for this user was created."},"updated_at":{"type":"string","description":"Date the account for this user was last updated."},"enabled":{"type":"boolean","description":"Denotes whether this account has been enabled."},"email_verified":{"type":"boolean","description":"Denotes whether the email address for this user has been verified."},"phone_verified":{"type":"boolean","description":"Denotes whether the phone number for this user has been verified."},"business":{"$ref":"#/definitions/BusinessData"},"profiles":{"type":"array","description":"A list business this user is associated to","items":{"$ref":"#/definitions/ProfilesData"}}},"description":"User Profile model class containing user data","x-model":"UserProfileDataModel"},"BusinessData":{"type":"object","properties":{"id":{"type":"string","description":"Unique business ID."},"name":{"type":"string","description":"The name of this business"},"loyalty_type":{"type":"string","description":"The manner in which this business rewards its\ncustomers. This can be by purchase amount of by visit\nto the store\n"},"conglomerate":{"type":"string","description":"Whether this is a conglomerate business. Conglomerate\nbusinesses are umbrellas for multiple business' in Kangaroo\n"},"white_label":{"type":"string","description":"Whether this is a white label business. White label\nbusiness' don't appear in the Kangaroo Mobile Customer app,\nas they usually have their own app.\n"},"about":{"type":"string","description":"General about text for the business"},"logo":{"$ref":"#/definitions/Images"},"logo_transparent_background":{"$ref":"#/definitions/Images"},"cover_photo":{"$ref":"#/definitions/Images"},"category":{"$ref":"#/definitions/BusinessCategory"},"default_branch":{"description":"The default branch for this business","$ref":"#/definitions/Branch"},"balance":{"description":"The users point and gift card balance","$ref":"#/definitions/UserBalance"},"tier_level":{"description":"The users tier status","$ref":"#/definitions/TierLevel"},"catalog_items":{"description":"Contains a list of all rewards available to this user","$ref":"#/definitions/Rewards"}},"description":"Business profile data"},"Images":{"type":"object","properties":{"large":{"type":"string"},"medium":{"type":"string"},"thumbnail":{"type":"string"},"default":{"type":"boolean"},"path":{"type":"string"}},"x-model":"ImageModel"},"BusinessCategory":{"type":"object","properties":{"name":{"type":"string","description":"Name of this category"},"icon":{"type":"string","description":"Url to this category's icon"},"code":{"type":"string","description":"Unique ategory code for this category"}},"description":"Details about this business' category. This can\nbe something like cafe, boutique, etc...\n"},"Branch":{"type":"object","properties":{"id":{"type":"string","description":"Unique ID for this branch"},"name":{"type":"string","description":"The name of this branch"},"web_site":{"type":"string","description":"The website for this branch"},"phone":{"type":"object","properties":{"number":{"type":"string"},"country_code":{"type":"string"},"national_format":{"type":"string"},"intl_format":{"type":"string"}}},"logo":{"$ref":"#/definitions/Images"},"cover_photo":{"$ref":"#/definitions/Images"},"address":{"type":"object","properties":{"formatted":{"type":"string"},"street":{"type":"string"},"city":{"type":"string"},"region":{"type":"string"},"country":{"type":"string"},"lat":{"type":"number","format":"float"},"long":{"type":"number","format":"float"}}}}},"UserBalance":{"type":"object","properties":{"points":{"type":"integer","format":"int64","description":"The number of points this user currently has."},"giftcard":{"type":"number","format":"double","description":"The amount of store credit in the users' e-wallet."}},"description":"User Profile balance data."},"TierLevel":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The ID for this tier."},"name":{"type":"string","description":"The name of this tier level."},"reach_spend":{"type":"number","format":"float","description":"The amount of money spent required to reach this tier."},"reach_visits":{"type":"integer","format":"int64","description":"The amount of visits made to reach this tier."},"reach_points":{"type":"integer","format":"int64","description":"The amount of points acquired that is required to reach this tier."},"icon":{"type":"string","description":"The icon of this tier level."},"tier_perks":{"type":"array","description":"The perks related to this tier level.","items":{"$ref":"#/definitions/TierPerk"}},"languages":{"type":"array","description":"translation for each tier level.","items":{"$ref":"#/definitions/TierLevelTranslation"}}},"description":"Represents a single tier level."},"TierPerk":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The ID for this tier perk."},"title":{"type":"string","description":"The title of this tier perk."},"tier_id":{"type":"integer","format":"int64","description":"The ID for the tier level this tier perk is related to."},"offer_id":{"type":"integer","format":"int64"},"punch_item_id":{"type":"integer","format":"int64"},"enabled":{"type":"boolean","description":"Whether this tier perk is currently enabled or disabled."},"is_expired":{"type":"boolean","description":"Whether the offer this tier perk is currently attached to is expired or not."},"languages":{"type":"array","description":"The perks related to this tier level.","items":{"$ref":"#/definitions/TierPerkTranslation"}}},"description":"Represents a single tier perk for a tier level."},"TierPerkTranslation":{"type":"object","properties":{"language_id":{"type":"integer","format":"int64","description":"The ID of teh language."},"title":{"type":"string","description":"The name of this tier level as translated."},"language":{"description":"The language for which this translation applies.","$ref":"#/definitions/language"}}},"language":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"The Kangaroo ID of this language."},"abbreviation":{"type":"string","description":"A two letter abbreviation of this language.\nFollows ISO standards (en, fr, es)\n"},"name":{"type":"string","description":"The full name of this language (English, French, Spanish)"}}},"TierLevelTranslation":{"type":"object","properties":{"language_id":{"type":"integer","format":"int64","description":"The ID of teh language."},"name":{"type":"string","description":"The name of this tier level as translated."},"description":{"type":"string","description":"The description of this tier level as translated."},"language":{"description":"The language for which this translation applies.","$ref":"#/definitions/language"}}},"Rewards":{"type":"array","items":{"$ref":"#/definitions/Reward"}},"Reward":{"type":"object","properties":{"id":{"type":"integer","description":"A unique ID identifying this reward"},"points":{"type":"integer","format":"int64"},"publish_at":{"type":"string"},"expires_at":{"type":"string"},"is_published":{"type":"boolean"},"amount":{"type":"number","format":"float"},"real_value":{"type":"number","format":"float"},"discount_value":{"type":"number","format":"float"},"partner_reward":{"type":"boolean"},"partner_reward_type":{"type":"integer"},"redeem_for_gift_card":{"type":"boolean"},"type":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"images":{"type":"array","items":{"$ref":"#/definitions/Images"}},"never_expires_flag":{"type":"boolean"},"terms_conditions":{"type":"string"},"link":{"type":"string"},"reward_languages":{"type":"array","items":{"$ref":"#/definitions/RewardTranslation"}}},"x-model":"RewardModel"},"RewardTranslation":{"type":"object","properties":{"id":{"type":"integer"},"language_id":{"type":"integer"},"title":{"type":"string"},"description":{"type":"string"},"terms_conditions":{"type":"string"},"link":{"type":"string"},"language":{"$ref":"#/definitions/language"},"note":{"type":"string"}}},"ProfilesData":{"type":"object","properties":{"id":{"type":"string","description":"Unique user ID."},"email":{"type":"string","description":"Email address identifying this user."},"phone":{"type":"string","description":"Phone number associated with this user."},"first_name":{"type":"string","description":"First name associated with this user."},"last_name":{"type":"string","description":"Last name associated with this user."},"qrcode":{"type":"string","description":"Unique QR code identifying this user."},"created_at":{"type":"string","description":"Date the account for this user was created."},"master_account":{"type":"boolean","description":"Denotes whether this is the master account or not"},"business":{"$ref":"#/definitions/BusinessData"}},"x-model":"ProfilesDataModel"}}}